.sales {
    width: 100vw;
}

.sales_container {
    display: flex;
    justify-content: space-evenly;
}

.sales_management_heading {
    text-align: center;
}

.sales_type {
    font-size: 18px;
    color: #333;
    margin-top: 10px;
}